<router-outlet></router-outlet>
<section class="container-home">
  <div class="container-input-search">
    <div class="box-input-search">
      <label for="input-search" class="input">
        <label for="input-search"
          ><app-loupe-icon class="icon-loupe"></app-loupe-icon
        ></label>
        <input
          type="search"
          name="search"
          id="input-search"
          placeholder="Search Any Product"
        />
      </label>
    </div>
  </div>
  <div class="container-filter">
    <div class="box-filter">
      <h3>All Featured</h3>
      <div class="box-button">
        <button>Sort</button>
        <button>Filter</button>
      </div>
    </div>
  </div>
</section>
