<section class="container-login">
  <h1>
    Welcome<br />
    Back!
  </h1>
  <div class="box-login">
    <form class="box-inputs">
      <div class="box-input-login">
        <div class="box-input-field">
          <input type="text" id="username" placeholder="Username or Email" />
          <label for="username" class="label"
            ><img
              src="../../../assets/png/profile.png"
              alt="icone de um bonequinho"
          /></label>
        </div>
        <div class="box-input-field">
          <input type="password" id="password" placeholder="Password" />
          <label for="password" class="label"
            ><img
              src="../../../assets/png/lock.png"
              alt="icone de um cadeado fazendo referencia ao campo de senha "
          /></label>
        </div>
      </div>
      <div class="buttons">
        <button class="btn-forgot-pass" type="button">Forgot Password?</button>
        <button type="submit" class="btn-login">Login</button>
      </div>
    </form>
    <div class="box-continue">
      <p>- OR Continue With -</p>
      <div class="box-medias">
        <div class="box-circle-medias">
          <img src="../../../assets/png/google.png" alt="logo do google" />
        </div>
        <div class="box-circle-medias">
          <img src="../../../assets/png/apple.png" alt="logo da apple" />
        </div>
        <div class="box-circle-medias">
          <img src="../../../assets/png/faceb.png" alt="logo do facebook" />
        </div>
      </div>
      <p>Create An Account <a routerLink="/sing-up">Sign Up</a></p>
    </div>
  </div>
</section>
