<section class="container-login">
  <h1>
    Welcome<br />
    Back!
  </h1>
  <div class="box-inputs">
    <input type="text" placeholder="Username or Email" />
    <input type="password" name="" id="" placeholder="Password" />
  </div>
  <button>Forgot Password?</button>
  <button type="submit">Login</button>
  <div class="box-continue">
    <p>- OR Continue With -</p>
    <div class="box-medias">
      <img src="../../../assets/png/google.png" alt="logo do google" />
      <img src="../../../assets/png/apple.png" alt="logo da apple" />
      <img src="../../../assets/png/faceb.png" alt="logo do facebook" />
    </div>
    <p>Create An Account <button>Sign Up</button></p>
  </div>
</section>
