<section class="container-controls-top">
  <div class="box-page-count">
    <span class="page">{{ i + 1 }}</span>
    <span class="pages">/3</span>
  </div>
  <button class="btn" routerLink="/login">Skip</button>
</section>
<section class="container-slider">
  @if (true) {
  <div class="box-img box-logo">
    <img
      src="../../../assets/png/logo.png"
      alt="logo com cores azul e vermelho escrito stylish"
    />
  </div>
  }
  <div class="box-img">
    <img src="../../../assets/png/image1.png" #slides #img1 />
    <div class="box-desc">
      <h1>Choose Products</h1>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
  </div>
  <div class="box-img">
    <img src="../../../assets/png/image2.png" #slides />
    <div class="box-desc">
      <h1>Make Payment</h1>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
  </div>
  <div class="box-img">
    <img src="../../../assets/png/image3.png" #slides />
    <div class="box-desc">
      <h1>Get Your Order</h1>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
  </div>
</section>
<section class="container-controls-bottom">
  <button (click)="back()" class="btn btn-prev">Prev</button>
  <div class="box-controls">
    <span [ngClass]="{ activated: i === 0 }"></span>
    <span [ngClass]="{ activated: i === 1 }"></span>
    <span [ngClass]="{ activated: i === 2 }"></span>
  </div>
  <button
    (click)="next()"
    class="btn btn-next"
    [textContent]="i === 2 ? 'Get Started' : 'Next'"
  >
    Next
  </button>
</section>
