@import "../../sass/_font.scss";

.container-controls-top {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 18px;
  z-index: 1;
  background-color: #ffffff;
}
.btn {
  padding: 12px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  font-family: $gothamBold;
  font-size: 1em;
}
.container-slider {
  display: flex;
  position: relative;
  gap: 400px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  .box-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    object-fit: cover;
    scroll-snap-align: start;
  }
  .box-desc {
    display: grid;
    gap: 10px;
    text-align: center;
    line-height: 2em;
    max-width: 500px;
    h1 {
      font-family: $gothamBold;
    }
    p {
      font-family: $gothamMedium;
      color: #a8a8a9;
      padding: 10px;
    }
  }
}
.container-controls-bottom {
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  .btn-next {
    color: #f83758;
  }
  .btn-prev {
    color: #17223b20;
  }
  .box-controls {
    display: flex;
    gap: 5px;
    align-items: center;
    span {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #17223b20;
      transition: width 200ms, height 200ms, border-radius 200ms,
        background-color 200ms;
    }
    .activated {
      border-radius: 5px;
      height: 10px;
      width: 45px;
      background-color: #17223b;
    }
  }
}