@font-face {
  font-family: "Gotham Light";
  src: url("../../assets/font/Gotham-Font/GothamLight.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Bold";
  src: url("../../assets/font/Gotham-Font/GothamBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Medium";
  src: url("../../assets/font/Gotham-Font/GothamMedium.ttf") format("truetype");
}

$gothamLight: "Gotham Light";
$gothamBold: "Gotham Bold";
$gothamMedium: "Gotham Medium";
